<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagenes/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Prueba Proyecto Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body class="img3">

    <header>
        <nav class="navbar navbar-expand-md bg-success navbar-dark">
            <!-- Navbar content -->
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="/imagenes/Sin título-2-07.png" alt="" width="150" height="50" class="d-inline-block align-text-top">
              </a>
              <div align="right">
                <a class="btn btn-success float-rigth" href="/inicio" role="button">Inicio</a>
                
                <a href="/logout" class="btn btn-success me-2" type="button">¡Cerrar sesión!</button></a>
              </div>
          </nav>
        
      </header>

    <section>
        <div class="container">
            <div class="row d-flex  justify-content-end">
                <div class="col-lg-6 ">
                    <div class="p-5">
                        <h2 style="color:rgb(233, 230, 230);" class="display-4"><span th:text="${accion}"></span> Estadia</h2>
                        <form enctype="multipart/form-data">

                            <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
                            <p th:if="${lleno != null}" th:text="${lleno}" style="color:red;"></p>
                            
                            <input type="hidden" name="idEstadia" th:value="${perfil.id}"/>
                            <input type="hidden" name="eid" th:value="${establecimiento.id}"/>
                            <input type="hidden" name="cid" th:value="${cliente.id}"/>
                            
                            <label>Establecimiento : <span th:text="${establecimiento.nombre}"></span></label>
                            <br/>
                            <label>Cliente : <span th:text="${cliente.nombre}"></span> <span th:text="${cliente.apellido}"></span></label>
                            
                            <br/>
                            <button th:disabled="${establecimiento.cantLugaresTotal <= establecimiento.cantLugaresOcupados}" type="submit" th:if="${accion == 'Ingresar'}" class="btn btn-primary" formaction="/estadia/actualizar" formmethod="POST">Crear Estadía</button>
                            <!--<button th:if="${accion == 'Actualizar'}" type="submit" class="btn btn-primary" formaction="/estadia/actualizar" formmethod="POST">Actualizar</button>-->
                            <button th:if="${accion == 'Eliminar'}" type="submit" class="btn btn-danger" formaction="/estadia/retirar" formmethod="POST" >Finalizar Estadía</button>
                            <button class="btn btn-primary " formaction="/establecimiento/mis-establecimientos" formmethod="GET" role="button">Volver</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>